
<%= form_with(model: game) do |form| %>
  <% if game.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(game.errors.count, "error") %> prohibited this game from being saved:</h2>

      <ul>
        <% game.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :name, style: "display: block", class:"mt-1 mb-0.25" %>
    <%= form.text_field :name, class:"input", placeholder:"Secret planning" %>
  </div>

  <div>
    <%= form.label :summary, style: "display: block", class:"mt-1 mb-0.25" %>
    <%= form.text_area :summary, class:"input summary", placeholder:"This is the best department yet" %>
  </div>

  <div>
    <%= form.label :release_date, style: "display: block", class:"mt-1 mb-0.25" %>
    <%= form.date_field :release_date, class:"input", placeholder:"dd/mm/yyyy"  %>
  </div>

  <div>
    <%= form.label :category, style: "display: block", class:"mt-1 mb-0.25"  %>
    <%= form.select :category, Game.categories.keys, { prompt: true }, class:"input"  %>
  </div>


  <div>
    <%= form.label :rating, style: "display: block", class:"mt-1 mb-0.25" %>
    <%= form.text_field :rating, step: 0.1, class:"input", placeholder:"0.0"  %>
  </div>

  <div>
    <%= form.label :parent_id, style: "display: block", class:"mt-1 mb-0.25" %>
    <%= form.collection_select :parent_id, Game.main_game, :id, :name, { include_blank: "Please select" }, class:"input" %>
  </div>

  <div class="card--image">
    <% if game.cover.attached? %>
      <div>
        <%= image_tag(game.cover, class: "category-image") %>
      </div>
    <% end %>
  </div>  
    
  <div>
    <%= form.label :cover, style: "display: block", class:"mt-1 mb-0.25" %>
    <%= form.file_field :cover %>
  </div>

    
<%# me falta UPDATE GAME %>
    <input class="button button--primary mt-1 mb-0.25 w-full" type="submit" value="CREATE GAME">

<% end %>
