
<%= form_with(model: game) do |form| %>
  <% if game.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(game.errors.count, "error") %> prohibited this game from being saved:</h2>

      <ul>
        <% game.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :name, style: "display: block", class:"mt-1 mb-0.25" %>
    <%= form.text_field :name, class:"input", placeholder:"Secret planning" %>
  </div>

  <div>
    <%= form.label :summary, style: "display: block", class:"mt-1 mb-0.25" %>
    <%= form.text_area :summary, class:"input", placeholder:"This is the best department yet" %>
  </div>

  <div>
    <%= form.label :release_date, style: "display: block", class:"mt-1 mb-0.25" %>
    <%= form.date_field :release_date, class:"input", placeholder:"dd/mm/yyyy"  %>
  </div>

  <div>
    <%= form.label :category, style: "display: block", class:"mt-1 mb-0.25" %>
    <%= form.number_field :category, class:"input"  %>
  </div>

  <div>
    <%= form.label :rating, style: "display: block", class:"mt-1 mb-0.25" %>
    <%= form.text_field :rating, class:"input", placeholder:"0.0"  %>
  </div>

  <div>
    <%= form.label :parent_id, style: "display: block", class:"mt-1 mb-0.25" %>
    <%= form.text_field :parent_id, class:"input"  %>
  </div>

  <div class="button button--primary" >
  
    <%= form.submit %>

  </div>
<% end %>
