<div id="<%= dom_id game %>">

  <div class="card">

    <div class="card--image">
    </div>

    <div class="card--content">
      <p><%= game.name %><%= game.rating %></p>
      <p><%= game.release_date.year %></p>
      <p><%= game.summary %></p>
      <p>Nro de criticas</p>


    </div>

  </div>





  </br>

</div>
