<p style="color: green"><%= notice %></p>

<h1 class="mb-1 mt-1">Games</h1>
<button class="button button--primary mb-1">
<%= link_to "NEW GAME", new_game_path %>
</button>

<div id="games">
  <% @games.each do |game| %>

    <div class="card--image">
      <% if game.cover.attached? %>
        <div>
          <%= image_tag(game.cover, class: "category-image") %>
        </div>
      <% end %>
    </div> 

    <p>
      <strong><%= game.name %></strong>
    </p>

    <p>
      <%= game.rating %>
    </p>

    <% unless game.release_date.blank? %>
      <p>
        <%= game.release_date.year %>
      </p>
    <% end %>

    <p>
      <%= game.summary %>
    </p>

    <p>
      <%= game.critics.count %> critics
    </p>

    <%= link_to "Show this game", game_path(game) %> | 
    <%= link_to "Edit this game", edit_game_path(game) %>
    <%= button_to "Destroy this game", game, method: :delete %>
    
  <% end %>
</div>




