<div id="<%= dom_id company %>">
hi5
<div class="card">
  <div class="card--image wrapper">
    <% if company.cover.attached? %>
      <div>
        <%= image_tag(company.cover, class: "category-image") %>
      </div>
    <% end %>
  </div>

  <div class="card--content">
    <p>
      <%= company.name %>
    </p>

    <p>
      <%= company.start_date %>
      <%= company.country %>
    </p>
  </div>

</div>
