<p style="color: green"><%= notice %></p>

<h1>Companies</h1>

<button class="button button--primary mb-1">
<%= link_to "New company", new_company_path %>
</button>


<div id="companies">
  <% @companies.each do |company| %>
    
    <%= image_tag(company.cover) if company.cover.attached? %>

    <div class="card--content">
    <p>
      <%= company.name %>
    </p>

    <p>
      <%= company.start_date %>
      <%= company.country %>
    </p>

    <p>
      <%= company.description %>
    </p>

    <p>
      <%= company.games.count %>
      games
    </p>
  </div>

    <p>
      <%= link_to "Show this company", company %>
    </p>
  <% end %>
</div>
