<p style="color: green"><%= notice %></p>

<h1>Companies</h1>

<button class="button button--primary mb-1">
<%= link_to "New company", new_company_path %>
</button>


<div class="card">
  <% @companies.each do |company| %>
    <div class="card--image wrapper">
      <%= image_tag(company.cover) if company.cover.attached? %>
    </div>

    <div class="card--content">
      <p><%= company.name %></p>

      <% if company.start_date.nil? %>
        <p>Unknown Year
      <% else%>
        <p><%= company.start_date.year %>
      <% end %>
       - <%= company.country %></p>


      <p><%= company.description %></p>
      <p><%= company.games.count %> games</p>


      <p><%= link_to "Show this company", company %></p>

      <br>
    </div>


  <% end %>
</div>
