<p style="color: green"><%= notice %></p>
<%= render "company", company: @company %>
<hr>


<!-- View de "Company Details" -->
<div>
<%= @company.description %>
<h3>Games (<%= @company.games.count%>)</h3>

  <div id="companies">
    <% @company.games.each do |game| %>
     <%= render "game", game: game %>
    <% end %>
  </div>
</div>

<!-- View de "Critics" -->



<div>
  <%= link_to "EDIT", edit_company_path(@company) %> |
  <%= link_to "BACK", companies_path %>
<!--<%= button_to "Destroy this company", @company, method: :delete %> -->
</div>

<%= render "companies/critics", critic: @new_critic %>

