<header class="header mb-1">

      <div class="container navbar">
        <a href="/games" class="logo">
          <img src="/images/logo.svg" alt="Codeable" height="32" />
        </a>
        <nav>
          <ul class="navbar-links list-style-none" role="list">
            <li>Welcome admin!</li>
            <li><%= link_to 'Companies', companies_path, class: "link" %></li>
            <li><%= link_to 'Companies', companies_path, class: "link" %></li>
            
            <li><button> LOG OUT</button></li>

          </ul>
        </nav>


        
        <%=image_tag "icons/menu.svg", class: "navbar__menu-icon"%>
        <%=image_tag "icons/close.svg", class: "navbar__menu-icon-close"%>
      </div>
   


</header>
<%# <button class="button"><%= link_to "SEARCH", photos_path, class: "navbarbutton" %>
    <%# <%= link_to image_tag("/app/assets/images/logo.png"), categories_path %>
