<!DOCTYPE html>
<html>
  <head>
    <title>CriticsRc</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="icon" href="/images/logo.png">

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>
  <body>
  <section class="section-sm">
    <div class="container-sm">


        <%= render "layouts/header" %>
        <%= yield %>
        <%= render "layouts/footer" %>
      </div>
    </section>
  </body>
</html>
